.api-console {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 2em 2em 1fr;

  justify-items: center;
  align-items: center;
  background-color: cornsilk;
}

h3 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.view {
  grid-column: 2 / 3;
  margin-left: 5px;
}

.update {
  grid-column: 1 / 2;
}

.update,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(233, 121, 121);
  color: white;
  height: 100%;
  width: 100%;
}

.update:hover,
.view:hover {
  cursor: pointer;
}

.updateform,
.viewform {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.updateform {
  width: 90%;
}
/* button:not(.searchparambtn) {
  margin: 1em;
  height: 3em;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
 */
input {
  margin-top: 0.4em;
}

.perpage {
  width: 40%;
  align-self: center;
}

input:not(.forminput-path) {
  height: 3em;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

.searchparambtn {
  margin-top: 1em;
  height: 2em;
  width: 50%;
  align-self: center;
  border: 1px solid green;
  border-radius: 5px;
  background-color: transparent;
}

/* .update-select {
  border: 1px solid black;
  margin: 1em;
  padding: 0.5em;
  border-radius: 5px;
  overflow-y: scroll;
} */

.forminput-path {
  width: 90%;
}

.checkbox {
  display: grid;
  grid-template-columns: 1.5em 2em 1fr;
  align-items: center;
  padding: 5px;
}

div[data-descr] {
  /*  position: relative; */
  text-decoration: underline;
  color: #00f;
  cursor: help;
}

div[data-descr]:hover::after,
div[data-descr]:focus::after {
  content: attr(data-descr);
  /*   position: absolute; */
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}
