@import './root.css';

.api-console {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 3em 2em 1fr;
  padding: 3rem;

  justify-items: center;
  align-items: center;
  background-color: var(--COLOR-1);
}

.api-console > .menu-tab {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--COLOR-5);
  font-weight: 400;
  font-size: 1.2rem;
  text-shadow: 0 0 0 0;

  /* transform: rotate(-90deg) translateY(3rem); */
  /* transition: text-shadow 1s ease-in-out; */
}

.api-console > .menu-tab:hover {
  transform: scale(1);
}

.api-console > .menu-tab > span {
  margin-left: 1rem;
}

.icon:hover {
  transform: scale(1.3);
  transition: all 1s;
}

.view {
  grid-column: 2 / 3;
  margin-left: 5px;
}

.update {
  grid-column: 1 / 2;
}

.update,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--COLOR-1);
  color: var(--COLOR-5);
  border: 1px solid var(--COLOR-5);
  box-shadow: 0px 0px 1px;
  height: 100%;
  width: 80%;
}

.updateactive,
.viewactive {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--COLOR-5);
  color: var(--COLOR-1);
  border: 1px solid var(--COLOR-1);
  box-shadow: 0px 0px 1px;
  height: 100%;
  width: 80%;
}

.update:hover,
.view:hover {
  cursor: pointer;
  background-color: var(--COLOR-5);
  color: var(--COLOR-1);
}

.updateform,
.viewform {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* .updateform {
  width: 90%;
} */
/* button:not(.searchparambtn) {
  margin: 1em;
  height: 3em;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
 */
/* input {
  margin-top: 0.4em;
} */

.perpage {
  width: 40%;
  align-self: center;
}

input:not(.forminput-path) {
  height: 3em;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

.searchparambtn {
  margin-top: 1em;
  height: 3rem;
  width: 80%;
  align-self: center;
  border: 1px solid var(--COLOR-3);
  color: var(--COLOR-5);
  border-radius: 5px;
  background-color: var(--COLOR-1);
  box-shadow: 2px 2px var(--COLOR-1);
  font-size: 1.1rem;
}

.searchparambtn:hover {
  background-color: var(--COLOR-5);
  color: var(--COLOR-1);
}

.searchparambtn:active {
  box-shadow: 2px 2px 0px black;
}

/* .update-select {
  border: 1px solid black;
  margin: 1em;
  padding: 0.5em;
  border-radius: 5px;
  overflow-y: scroll;
} */

.forminput-path {
  width: 90%;
}

.checkbox {
  display: grid;
  grid-template-columns: 1.5em 2em 1fr;
  align-items: center;
  padding: 5px;
}

/* div[data-descrp] {
  position: relative;
  text-decoration: underline;
  color: #00f;
  cursor: help;
}

div[data-descrp]:hover::after,
div[data-descrp]:focus::after {
  content: attr(data-descrp);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}
 */
