@import url('./root.css');

.configure {
  grid-column: 2 / 3;
  border: 1px solid var(--COLOR-5);
  border-radius: 5px;
  /* overflow-y: scroll;
    overflow-x: hidden; */
  height: 90%;
  width: 90%;
  align-self: center;
}
