@import url('./root.css');

.results {
  grid-column: 2 / 3;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 400px) {
  .results {
    grid-column: 1 / span 1;
    grid-row: 2 / 3;
  }
}

.item {
  /* height: 4em; */
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--COLOR-5);
  margin: 0.5em;
  padding: 1em;
  border-radius: 5px;
  background-color: var(--COLOR-1);
}

.editmode {
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.item a {
  text-decoration: none;
  color: var(--COLOR-5);
}

.item:hover {
  background-color: var(--COLOR-3);
}

.item-edit-btn {
  background-color: white;
  align-self: center;
  padding: 0 0.5em;
  opacity: 0.5;
  border-radius: 5px;
}

.item-submit-btn {
  background-color: white;
  color: var(--COLOR-1);
  margin-top: 1em;
}

.item-edit-btn:hover {
  cursor: pointer;
  background-color: var(--COLOR-1);
  /* border: 1px solid black; */
  color: white;
}

.item-edit-btn:active {
  box-shadow: 1px 1px 2px var(--COLOR-1);
}

.post {
  background-color: #eee;
  margin: 2rem;
  padding: 1rem;
}
.pagination {
  margin: 1rem auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  background-color: blue;
  height: 2em;
  color: white;
}
.active {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 3px;
  outline: none;
  background-color: red;
}

.next,
.previous,
.page {
  cursor: pointer;
}

.no-results {
  text-align: center;
  margin-top: 20%;
  font-size: 2.2em;
}

.loading {
  width: 100% !important;
  height: 100% !important;
  color: red;
}

.itemloading {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 125, 172, 1) 25%,
    rgba(24, 154, 211, 1) 50%,
    rgba(113, 199, 236, 1) 100%
  );
}

.itemerror {
  background-color: var(--COLOR-1);
  opacity: 0.5;
  color: white;
  text-align: center;
  justify-content: center;
}

.edit-input {
  margin-top: 1em;
}
