:root {
  --COLOR-1: #005073;
  --COLOR-2: #107dac;
  --COLOR-3: #189ad3;
  --COLOR-4: #1ebbd7;
  --COLOR-5: #71c7ec;
}

/* :root {
  --COLOR-1: #6e7f80;
  --COLOR-2: #536872;
  --COLOR-3: #708090;
  --COLOR-4: #536878;
  --COLOR-5: #36454f;
}

:root {
  --COLOR-1: #009688;
  --COLOR-2: #35a79c;
  --COLOR-3: #54b2a9;
  --COLOR-4: #65c3ba;
  --COLOR-5: #83d0c9;
} */
