html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 1em 1em;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 20vw 75vw;
  grid-template-rows: 60vh;
}
